<section id="main">
    <div class="container-fluid">
          <img src="http://content.asos-media.com/-/media/homepages/unisex/generic-hp/may-2017/generic-hp-summer.jpg" alt="qqqqqqqqq">  
    </div>
    
    <div class="content-wrapper">
        <h1>Это - asos</h1>
        <p>Мир моды и стиля онлайн</p>

        <div class="btns-wrap clearfix">
            <div class="main-btn-wrapper pull-left">
                <a [routerLink]="['/products', 'women']" class="button">Женское</a>
            </div>
            <div class="main-btn-wrapper pull-right">
                <a [routerLink]="['/products', 'men']" class="button">Мужское</a>
            </div>
        </div>
        
    </div>
</section>